{% extends 'account/base_card.html' %}

{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Sign up" %}</h3>
{% endblock %}

{% block card-body %}

    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
    {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

    <form method="POST" action="{% url 'socialaccount_signup' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.email %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.display_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.first_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.last_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">{% trans "Sign up" %}</button>
    </form>

{% endblock %}

{% block card-footer %}
    <p>{% trans "Sign up with e-mail and password?" %} <a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></p>
    <p>{% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Sign in first" %}</a>{% trans " and connect to your social account in your profile." %}</p>
{% endblock %}
