Django==3.0.8
wagtail==2.11.6
psycopg2-binary==2.8.5
django-countries==6.1.2
django-allauth==0.42.0
django-widget-tweaks==1.4.8
wagtailtrans==2.1
wagtailcodeblock==1.17.1.0
django-extensions==3.0.3
django-modeltranslation==0.15.1
django-comments-xtd==2.6.2
wagtailstreamforms==3.10
django-recaptcha==2.0.6
coverage==5.2
factory-boy==2.12.0
django-dbbackup==3.3.0
