{% extends 'account/base_card.html' %}

{% load i18n %}

{% block title %}{% trans "Sign out" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Sign out" %}</h3>
{% endblock %}

{% block card-body %}

    <p>{% trans "Are you sure you want to sign out?" %}</p>

    <form method="POST" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary btn-sm">{% trans "Sign out" %}</button>
    </form>

    <br><p>{% trans "No, stay logged in" %}</p>
    <a href="/" class="btn btn-outline-primary">{% trans "Return to site" %}</a>

{% endblock %}
