{% extends 'account/base_card.html' %}

{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Password reset" %}</h3>
{% endblock %}

{% block card-body %}

    <form method="POST" action="{% url 'account_reset_password' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {% with field=form.email %}{% include "account/form_field.html" %}{% endwith %}
        </div>
        <button type="submit" class="btn btn-outline-secondary">{% trans "Reset password" %}</button>
    </form>

{% endblock %}
