{% extends "account/base_card.html" %}

{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block card_header %}
    <h3>{% if token_fail %}{% trans "Bad token" %}{% else %}{% trans "Change password" %}{% endif %}</h3>
{% endblock %}

{% block card-body %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {% with field=form.password1 %}{% include "account/form_field.html" %}{% endwith %}
                </div>
                <div class="form-group">
                    {% with field=form.password2 %}{% include "account/form_field.html" %}{% endwith %}
                </div>
                <input type="submit" name="action" class="btn btn-outline-secondary" value="{% trans "Change password" %}"/>
            </form>
        {% else %}
            <p>{% trans "Your password is now changed." %}</p>
        {% endif %}
    {% endif %}
{% endblock %}