{% extends 'account/base_card.html' %}

{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Sign up" %}</h3>
{% endblock %}

{% block card-body %}

    <form method="POST" action="{% url 'account_signup' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.email %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.display_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.password1 %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.password2 %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.first_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.last_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">{% trans "Sign up" %}</button>
    </form>

{% endblock %}

{% block card-footer %}
    <p>{% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Sign in" %}</a></p>
{% endblock %}
