{% load wagtailimages_tags cms_tags %}

{% get_menu "main" None request.user.is_authenticated as navigation %}
{% company_logo as logo %}

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">{% image logo.logo fill-50x50 %}{{ logo.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
            {% for item in navigation %}
                {% get_menu item.slug item.page request.user.is_authenticated as submenu %}
                <li class="{% if submenu %}dropdown {% endif %}p-2">
                    <div class="dropdown show">
                        <a href="{{ item.url }}"
                                {% if submenu %} class="menuitem dropdown-toggle {% if item.icon %}menuicon{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                {% else %} data-toggle="tooltip" title="{{ item.title }}" class="menuitem"
                                {% endif %}
                        >
                            {% if item.icon %}
                                {% image item.icon fill-30x30 class="image-menu" %}
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        </a>
                        {% if submenu %}
                            <div class="dropdown-menu">
                                {% for subitem in submenu %}
                                    <a href="{{ subitem.url }}" class="dropdown-item menuitem p-2 {% if subitem.icon %}menuicon{% endif %}">
                                        {% if subitem.icon %}
                                            {% image subitem.icon fill-30x30 class="image-menu" %}
                                        {% else %}
                                            {{ subitem.title }}
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
